.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**custom **/
/***LOGIN***/
body {
    background-color: #FFF;
}

.header {
    background: #f9f8f9;
}

.logIn {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #efeeef;
    margin-top: 5%;
}

.logIn select {
    width: 100%;
    height: 35px;
    border: 1px solid #efeeef;
    border-radius: 5px;
}

.header h4 {
    margin: 0!important;
}

.logIn button {
    background-color: #32bea8;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    height: 30px;
    margin: 15px 0;
}

.logIn .logo img {
    width: 50%;
    margin: 30px 0;
}

.logIn span {
    color: #32bea8;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0;
    display: inline-block;
}

.logIn form {
    padding: 16px;
}

/***** MENUS ****/

.NavMenu nav ul {
    float: left;
}

nav.navbar {
    width: 100%!important;
    max-width: 649px;
    margin: 0 auto;
}

ul.profile.nav {
    float: right;
}

ul.menus.nav a {
    padding: 0 4px;
}

.NavMenu {
    border-bottom: 3px solid #32bea8;
    position: relative;
    float: left;
    width: 100%;
}

ul.profile.nav span {
    float: left;
}

ul.profile.nav .avatar {
    float: left;
    padding: 0 10px;
}

ul.profile.nav .avatar img {
    border-radius: 50%;
    width: 29px;
}

/***DASHBOARD***/

.dashboard {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.dashboard .react-tabs {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #efeeef;
}

.react-tabs__tab--selected {
    border-color: #efeeef!important;
}

.react-tabs__tab-list {
    border-color: #efeeef!important;
}

.react-tabs__tab--selected {
    border-color: #efeeef!important;
    background: #f0eef0!important;
    color: #30af9b!important;
    font-weight: 500!important;
}
/****PREVIEW ****/
.preview {
    border-radius: 13px;
    margin: 13px 0;
    border: 1px solid #efeeef;
    max-width: 100%;
    float: left;
    width: 100%;
}

.preview .header {
    z-index: -1;
    padding: 8px 13px;
    border-bottom: 1px solid #efeeef;
    font-weight: 700;
}

.preview .avatar {
    float: left;
    margin: 14px 0;
    padding: 10px 40px;
    border-right: 1px solid #efeeef;
}

.preview .avatar img {
    width: 50px;
    border-radius: 25px;
}

.preview .content {
  float: left;
  padding: 12px 12px;
  min-width: 265px;
}

.preview .content h4 {
    margin: 0 0 12px 0;
}

.preview .content a button {
    width: 100%;
    float: left;
    margin-top: 8px;
    padding: 4px 0;
    background: #fff;
    border-radius: 4px;
    border-color: #30af9b;
}

/*** DTAILS ***/

.questDetails {
    border-radius: 13px;
    margin: 13px 0;
    border: 1px solid #efeeef;
    max-width: 100%;
    float: left;
    width: 100%;
}

.questDetails .header {
    z-index: -1;
    padding: 8px 13px;
    border-bottom: 1px solid #efeeef;
    font-weight: 700;
}

.questDetails .avatar {
    float: left;
    padding: 10px 40px;
    border-right: 1px solid #efeeef;
}

.questDetails .avatar img {
    width: 100px;
    border-radius: 50px;
}

.questDetails .content {
  float: left;
  padding: 12px 12px;
  min-width: 265px;
}

.questDetails .content h4 {
    margin: 0 0 12px 0;
}

.questDetails .content a button {
    width: 100%;
    float: left;
    margin-top: 8px;
    padding: 4px 0;
    background: #fff;
    border-radius: 4px;
    border-color: #;
}

.questDetails button {
    width: 100%;
    padding: 7px 0;
    color: white;
    background: #30af9b;
    margin: 7px 0;
    border-radius: 4px;
    border-color: #efeeef;
}
.questDetails button:disabled {
  color: #30af9b!important;
  background: #efeeef!important;
}

.wrap {
    max-width: 500px;
    margin: 0 auto;
}

.questDetails .percent {
    background: #30af9b;
    float: left;
    height: 100%;
    border-radius: 3px;
}

.questDetails .pollbar {
    background: #cadbdd;
    width: 100%;
    height: 28px;
    margin: 0 0 2px 0;
    border-radius: 3px;
}

.questDetails .pollbar span {
    background: #30af9b;
    color: white;
    float: right;
    margin: 2px 4px 0 0;
}

.questDetails .content > div > div {
    font-weight: 600;
    padding: 0 10px;
    background: #f9f8f9;
    border: 1px solid #efeeef;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: center;
}

.questDetails .content .selected {
    background-color: #e2f8f9;
    border-color: #30af9b;
}
