.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/**custom **/
/***LOGIN***/
body {
    background-color: #FFF;
}

.header {
    background: #f9f8f9;
}

.logIn {
    max-width: 535px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #efeeef;
    margin-top: 5%;
}

.logIn select {
    width: 100%;
    height: 35px;
    border: 1px solid #efeeef;
    border-radius: 5px;
}

.header h4 {
    margin: 0!important;
}

.logIn button {
    background-color: #32bea8;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    height: 30px;
    margin: 15px 0;
}

.logIn .logo img {
    width: 50%;
    margin: 30px 0;
}

.logIn span {
    color: #32bea8;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0;
    display: inline-block;
}

.logIn form {
    padding: 16px;
}

/***** MENUS ****/

.NavMenu nav ul {
    float: left;
}

nav.navbar {
    width: 100%!important;
    max-width: 649px;
    margin: 0 auto;
}

ul.profile.nav {
    float: right;
}

ul.menus.nav a {
    padding: 0 4px;
}

.NavMenu {
    border-bottom: 3px solid #32bea8;
    position: relative;
    float: left;
    width: 100%;
}

ul.profile.nav span {
    float: left;
}

ul.profile.nav .avatar {
    float: left;
    padding: 0 10px;
}

ul.profile.nav .avatar img {
    border-radius: 50%;
    width: 29px;
}

/***DASHBOARD***/

.dashboard {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.dashboard .react-tabs {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #efeeef;
}

.react-tabs__tab--selected {
    border-color: #efeeef!important;
}

.react-tabs__tab-list {
    border-color: #efeeef!important;
}

.react-tabs__tab--selected {
    border-color: #efeeef!important;
    background: #f0eef0!important;
    color: #30af9b!important;
    font-weight: 500!important;
}
/****PREVIEW ****/
.preview {
    border-radius: 13px;
    margin: 13px 0;
    border: 1px solid #efeeef;
    max-width: 100%;
    float: left;
    width: 100%;
}

.preview .header {
    z-index: -1;
    padding: 8px 13px;
    border-bottom: 1px solid #efeeef;
    font-weight: 700;
}

.preview .avatar {
    float: left;
    margin: 14px 0;
    padding: 10px 40px;
    border-right: 1px solid #efeeef;
}

.preview .avatar img {
    width: 50px;
    border-radius: 25px;
}

.preview .content {
  float: left;
  padding: 12px 12px;
  min-width: 265px;
}

.preview .content h4 {
    margin: 0 0 12px 0;
}

.preview .content a button {
    width: 100%;
    float: left;
    margin-top: 8px;
    padding: 4px 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid#30af9b;
    color: #30af9b;
}

/*** DTAILS ***/

.questDetails {
    border-radius: 13px;
    margin: 13px 0;
    border: 1px solid #efeeef;
    max-width: 100%;
    float: left;
    width: 100%;
}

.questDetails .header {
    z-index: -1;
    padding: 8px 13px;
    border-bottom: 1px solid #efeeef;
    font-weight: 700;
}

.questDetails .avatar {
    float: left;
    padding: 10px 40px;
    border-right: 1px solid #efeeef;
}

.questDetails .avatar img {
    width: 100px;
    border-radius: 50px;
}

.questDetails .content {
  float: left;
  padding: 12px 12px;
  min-width: 265px;
}

.questDetails .content h4 {
    margin: 0 0 12px 0;
}

.questDetails .content a button {
    width: 100%;
    float: left;
    margin-top: 8px;
    padding: 4px 0;
    background: #fff;
    border-radius: 4px;
    border-color: #;
}

.questDetails button {
    width: 100%;
    padding: 7px 0;
    color: white;
    background: #30af9b;
    margin: 7px 0;
    border-radius: 4px;
    border-color: #efeeef;
}
.questDetails button:disabled {
  color: #30af9b!important;
  background: #efeeef!important;
}

.leaderBoard .wrap {
    max-width: 500px;
    margin: 0 auto;
}

.wrap{
    max-width: 570px;
    margin: 0 auto;
}

.questDetails .percent {
    background: #30af9b;
    float: left;
    height: 100%;
    border-radius: 3px;
}

.questDetails .pollbar {
    background: #afc0c2;
    width: 100%;
    height: 28px;
    margin: 0 0 2px 0;
    border-radius: 3px;
}

.questDetails .pollbar span {
    color: white;
    margin: 3px 4px 0 3px
}

.questDetails .content > div > div {
    font-weight: 600;
    padding: 0 10px;
    background: #f9f8f9;
    border: 1px solid #efeeef;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: center;
}

.questDetails .content .selected {
    background-color: #e2f8f9;
    border-color: #30af9b;
    position: relative;
}

.questDetails .content .selected::after {
    content: 'Your Vote';
    position: absolute;
    top: -7px;
    right: -27px;
    background: #d7ba27;
    width: 40px;
    padding: 8px 0px;
    font-size: 12px;
    color: #FFF;
    border-radius: 45%;
    line-height: 10px;
}

.newQuestion {
    border-radius: 13px;
    margin: 13px 0;
    border: 1px solid #efeeef;
    max-width: 100%;
    float: left;
    width: 100%;
}

.newQuestion .header {
    z-index: -1;
    padding: 8px 13px;
    border-bottom: 1px solid #efeeef;
    font-weight: 700;
}


.newQuestion .container {
    padding: 13px;
}

.newQuestion input {
    width: 100%;
    border-radius: 4px;
    padding: 7px 0;
    border: 1px solid #efefef;
    text-indent: 10px;
}

.newQuestion h2 {
  text-align: center;
  margin: 9px 0px;
  font-size: 18px;
}

/* .newQuestion button {
    width: 100%;
    margin-top: 14px;
    padding: 8px 0;
    color: white;
    border-radius: 4px;
    background: green;
} */

.newQuestion button {
    width: 100%;
    padding: 7px 0;
    color: white;
    background: #30af9b;
    margin: 12px 0;
    border-radius: 4px;
    border-color: #efeeef;
    border: none;
}
.newQuestion button:disabled {
  color: #30af9b!important;
  background: #efeeef!important;
  border: none;
}

/**LEADER BOARD**/

.leaderBoard {
    width: 100%;
    float: left;
}

.leaderBoard .ranks {
    border: 3px solid #efefef;
    margin-top: 15px;
    border-radius: 4px;
    width: 100%;
    float: left;
    padding: 0 12px;
}

.leaderBoard .avatar {
    float: left;
    padding: 18px 18px 0 0;
    margin: 10px 10px 18px 0;
    border-right: 1px solid #efefef;
}

.leaderBoard.container {
    float: left;
}

.leaderBoard .right {
    float: right;
    width: 80px;
    text-align: center;
    border: 1px solid #efefef;
    margin-top: 21px;
    height: 100px;
}

.leaderBoard .avatar img {
    width: 93px;
    border-radius: 45px;
}

.leaderBoard .details > p.first {
    border-bottom: 2px solid #efefef;
    margin: 0;
    padding-bottom: 16px;
    margin-bottom: 8px;
}
.leaderBoard .details > p {
    margin: 0;
}

.leaderBoard .left {
    float: left;
    margin-top: 11px;
    border-right: 1px solid #efefef;
    padding-right: 10px;
}

.leaderBoard .details {
    width: 250px;
}

.leaderBoard .details p span {
    float: right;
}

.leaderBoard h3 {
    margin: 0;
}

.leaderBoard .header {
    background: #f9f8f9;
    border-bottom: 2px solid #efefef;
    display: block;
    padding: 13px 0;
    font-size: 12px;
}

.leaderBoard  .left .name h2 {
    margin: 0 0 10px 0;
}

.leaderBoard span.score {
    color: white;
    background: #30af9b;
    text-align: center;
    padding: 8px 14px;
    border-radius: 50%;
    margin: 9px;
    display: inline-block;
}

.wraper {
    float: left;
    width: 100%;
}

.NavMenu nav ul {
    margin-bottom: 0px;
}

ul.menus.nav a, .profile.nav a {
    padding: 7px 10px;
    display: inline-block;
    background: #32bea8;
    margin-right: 1px;
    color: white;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

ul.menus.nav a:hover, .profile.nav a:hover{
    text-decoration: underline
}


.notFound {
    float: left;
    width: 100%;
    text-align: center;
}

.notFound .Header {
    font-size: 134px;
    font-weight: 600;
}


.notFound span {
    width: 100%;
    float: left;
}

.notFound button {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:disabled {
    text-decoration: none!important;
    cursor: default!important;
}

.questDetails .content p {
    width: 285px;
}
